    <footer class="site-footer clearfix">
        <section class="copyright">Copyright {{.Site.Title}} All Rights Reserved - {{.Lastmod.Year}}</section>
        <section class="poweredby">Last Updated: {{.Lastmod.Format "January 2, 2006"}}</section>
    </footer>
    </div>
    <script type="text/javascript" src="{{.Site.BaseURL}}js/jquery.js"></script>
    <script type="text/javascript" src="{{.Site.BaseURL}}js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="{{.Site.BaseURL}}js/index.js"></script>
    <script src="{{ .Site.BaseURL }}js/particles.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/particles.js"></script>

</body>
</html>
